# http://editorconfig.org
root = true

[*.{php,css,html,md}]
end_of_line = lf
indent_style = space
indent_size = 4
charset = utf-8
insert_final_newline = true

[*.{php,css,html}]
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false